{% extends 'base.html' %}
{% block content %}

<h1>Device List</h1>

{% for device in devices %}
  <div class="card">
    <a href="{% url 'detail' device.id %}">
        <div class="card-content">
          <span class="card-title">{{ device.name }}</span>
          <p>Release Year: {{ device.release_year }}</p>
          <p>Category: {{ device.category }}</p>
          <p>Colours: {{ device.colours }}</p>
        </div>
      <!-- Don't forget the </a> closing tag -->
      </a>   
  </div>
{% endfor %}

{% endblock %}