{% extends 'base.html' %}
{% block content %}

<h1>About the Apple Collection</h1>
<hr>
<p>Discover the world of Apple products with the Apple Collection. This comprehensive online platform offers a curated repository of information about all Apple products. Dive into the evolution of Apple's innovations over the years. The Apple Collection is your ultimate destination to explore and celebrate the remarkable spectrum of Apple's technological marvels.</p>
<footer>All Rights Reserved, &copy; 2023 Apple Collection</footer>

{% endblock %}